body {
  background-color: azure;
}

.bb {
  border: 1px solid black;
  display: block;
}

div,
p,
blockquote {
  width: 500px;
  border: 1px solid black;
}

.aa {
  display: inline-block;
}

.ava {
  display: inline-block;
  width: 23%;
}
