.basic {
  background-color: antiquewhite;
}


.hosic {
  font-size: 30px;

}

.my-input {
  padding: 4px;
  border: 1px solid skyblue;
  border-radius: 10px;
  width: 60px;
}

.small {
  width: 60px;

}

.large {
  width: 200px;
}


/* 연습 */
/*  */
/*  */
.bananacatbox{
  width: 80%;
  text-align: center;
}
.bananacat1 {
  background-image: url(bananacat.png);
  width: 240px;
  height: 240px;
  display: inline-block;
  border-radius: 120px;
  cursor: pointer;
}
.bananacatbox:active .bananacat1 {
  background-image: url(bananacat2.png);
  width: 240px;
  height: 240px;
  transition: .3s ;
  background-position: center center;
  display: inline-block;
  border-radius: 120px;
  cursor: pointer;
}

/*  */
/*  */

  
