/* position 속성 */
/* 요소의 배치 방식을 지정 */
/* posision : static; 이라는 기본값이 */

h2 {
text-align: center}

.cont {
  flex-flow: row-reverse wrap;
  width: 80%;
  margin: auto;
}

.text {
  font-size: 3rem;
  line-height: 150px
}

.arrow-span {
  /* fixed로 변경하면 다른 속성도 결정해야함 */
  /* top, left, right, bottom 속성도 변경해야함 */
  /* 네개의 속성의 의미 : 떨어진 정도 */
  /* position 값을 변경하면 대부분의 태그는 block요소로 자동으로 변경된다 */
  position: fixed ;
  height: 100px;
  bottom: 30px; right: 50px; left: 50px;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(255, 248, 239);
  flex-flow: row;
  text-align: right;  
  font-size: 3rem;
  font-weight: bold;
  color: gray;
  border-radius: 30px;
  align-content: center;
}