/* 가상클래스 : 가상의 선택자 */
/* p:first-child */
/* p:nth-child() */
/* :으로 들어오는 것은 가상클래스 */


div {
  width: 150px;
  height: 150px;
  background-color: azure;
  color: skyblue;
  border: 1px solid black;
  font-size: 2rem;
  margin: 30px;
  text-align: center;
  align-content: center;

}
/*  */
.d1:hover {
  width: 300px;
  height: 300px;
  font-size: 4rem;
  transition: .3s;
}

.d2:hover {
 background-color: rgba(135, 207, 235, 0.083);
 color: navy;
 transition: .5s;
}
/*  */

input {
  width: 150px;
  margin-left: 30px;
  outline: none;
}

input:focus {
  width: 300px;
  outline: 2px solid skyblue;
  outline-style: auto;
  text-align: center;
  color: rgb(1, 183, 255);
  transition: .3s;
}

/* 선택자 앞에 인라인요소를 추가 */
.li1:before {
  /* 추가할 요소는 content "여기에" */
  content: "*";
  color: red;
  margin-left: 10px;
  font-weight: bold;
}

.li1:after {
  content: "after";
  color: white;
  background-color: aquamarine;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
}
