.container {
  border: 1px solid black;
  width: 60%;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-areas: 
  "a a b"
  "c d d"
  "c e f"
  ;
  text-align: center;
}
.container div {
  border: 1px solid red;
  align-content: center;
}


.container > div:nth-child(1) {
  grid-area: a;
}

.container > div:nth-child(2) {
  grid-area: b;
  
}

.container > div:nth-child(3) {
  grid-area: c;
  
}

.container > div:nth-child(4) {
  grid-area: d;
  
}

.container > div:nth-child(5) {
  grid-area: e;
  
}

.container > div:nth-child(6) {
  grid-area: f;
  
}