.bg {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: auto; 
}

.head  {
  height: 50px;
  border: 2px solid red;

}

.body{
  border: 2px solid gold;
  display: flex;
}

.b1 {
  flex-grow: 3;
  border: 2px solid green;
  height: 300px;
}.b2 {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}
.b21 {
  border: 3px solid blue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
