.bg{
  width: 80%;
  margin: auto;
  
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.header {
  height: 50px;
  border:  1px solid aqua;
}
.body {
  height: 300px;
  display: flex;
  border: 1px solid red;
  
}
.body >div {
  border: 1px solid purple;
}

.footer {
  border: 1px solid gray;
  height: 50px;

}
.b1 {
  width: 30%;
}
.b2 {
  width: 100%;
}