.mainContainer{
  width: 60%;
  margin: auto;
}

.mainContainer>div{
  display: flex;
  flex-direction: column;
  
}
.mainContainer>div>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainContainer>div>div>input{
  width: 100%;
}