<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop.user.mapper.UserMapper">

        <resultMap id="user" type="UserDTO">
            <id property="userId" column="USER_ID"/>
            <result property="userPw" column="USER_PW"/>
            <result property="userName" column="USER_NAME"/>
            <result property="userTel" column="USER_TEL"/>
            <result property="userRoll" column="USER_ROLL"/>
            <result property="isUsing" column="IS_USING"/>
            <result property="joinDate" column="JOIN_DATE"/>
        </resultMap>

    <insert id="insertUser">
        INSERT INTO USER (
        USER_ID,
        USER_PW,
        USER_NAME,
        USER_EMAIL,
        USER_TEL
        )
        VALUES(
        #{userId},
        #{userPw},
        #{userName},
        #{userEmail},
        #{userTel}
        )
    </insert>



</mapper>































