.container-detail{
  width: 80%;
}
.container-detail table{
  width: 100%;
  margin-top: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

.container-detail tr td{
  border: 1px solid black;
  padding: 5px;
}
.container-detail td:nth-child(odd){
  background-color: rgb(240, 240, 240);
}


.container-order{
  width: 80%;
  border-collapse: collapse;
}
.container-order table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.container-order tr td{
  padding: 5px;
  border: 1px solid black;

}
.container-order tbody >tr:hover{
cursor: pointer;  
}


thead{
  background-color: gray;
  color: white;
}